@model bai2.student_program

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>student_program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Student
        </dt>

        <dd>
            @foreach (var student in ViewBag.studentList)
            {
                if (student.id == Model.id_student)
                {
                    @student.name
                }
            }
        </dd>

        <dt>
            Program
        </dt>

        <dd>
            @foreach (var program in ViewBag.programList)
            {
                if (program.id == Model.id_program)
                {
                    @program.name
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
