@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <h3>
        <p>
            Giao diện làm việc chính
        </p>
        <img src="~/PropertiesHome/guide/1.png" width="1200px" /> <br />
        <p>
            Để truy cập vào thông tin học sinh,giáo viên,danh sách khóa học và điểm ,vui lòng chọn trên thanh nav menu
        </p>
        <img src="~/PropertiesHome/guide/2.png" width="1200px" /> <br />
        <p>
            Giao diện danh mục hồ sơ học sinh
        </p>
        <img src="~/PropertiesHome/guide/3.png" width="1200px" /> <br />
        <p>
            Để tìm học sinh và các thông tin ứng theo thuộc tính thì ta điền từ khóa cần tìm
        </p>
        <img src="~/PropertiesHome/guide/4.png" width="1200px" /> <br />
        <p>
            Để sửa,xem chi tiết hoặc xóa,vui lòng chọn ở phía bên phải cuối mỗi học sinh
        </p>
        <img src="~/PropertiesHome/guide/5.png" width="1200px" /> <br />
        <p>
            Giao diện sửa lại thông tin học sinh
        </p>
        <img src="~/PropertiesHome/guide/6.png" width="1200px" /> <br />
        <p>
            Giao diện chi tiết thông tin học sinh
        </p>
        <img src="~/PropertiesHome/guide/7.png" width="1200px" /> <br />
        <p>
            Giao diện xóa thông tin học sinh ,ấn nút delete ở cuối nếu muốn xóa hoặc back to list nếu hủy
        </p>
        <img src="~/PropertiesHome/guide/8.png" width="1200px" /> <br />
        <p>
            Tương tự với cac chức năng có sẵn bên thanh menu
        </p> <br />
        <a href="~/Home/Index"> << Back to Index </a>
    </h3>

