<!DOCTYPE HTML>
<!--
    Telephasic by HTML5 UP
    html5up.net | 
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Telephasic by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Assets/assets/css/main.css" />
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header" class="container">

                <!-- Logo -->
                <h1 id="logo"><a href="~/Home/Index">Admin</a></h1>

              

            </div>

            <!-- Hero -->
            <section id="hero" class="container">
                <header>
                    <h2>
                        Welcome you to our High School Management Application
                        <br />
                        designed by <a href="https://facebook.com" target="_blank">Admin</a>
                    </h2>
                </header>
                <p>
                    If you're new to our application , please press the button
                    <br />
                    below to see our intruction and know how to use our apllication
                </p>
                <ul class="actions">
                    <li><a href="~/Home/Guide" class="button">Get this party started!</a></li>
                </ul>
            </section>

        </div>

        <!-- Features 1 -->
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <section class="col-6 col-12-narrower feature">
                        <div class="image-wrapper first">
                            <a href="#" class="image featured first"><img src="~/Assets/assets/images/pic01.jpg" alt="" /></a>
                        </div>
                        <header>
                            <h2>
                                Take a look at our staffs and teachers<br />
                                They are the best at their specialties
                            </h2>
                        </header>
                        <p>
                            A good teacher is a possession of our society. He is sincere in his work. He should have a pleasing personality. He must be honest, dutiful, punctual, sincere, hardworking and a talented person, efficient in teaching or presenting his subject, amiable with the students, caring help, enterprising and rich with current knowledge.
                        </p>
                        <ul class="actions">
                            <li><a href="~/Staff/Index" class="button">Our Teachers</a></li>
                        </ul>
                    </section>
                    <section class="col-6 col-12-narrower feature">
                        <div class="image-wrapper">
                            <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                        </div>
                        <header>
                            <h2>
                               Our students are one of the <br />
                                most rewarded at national and worldwide competition
                            </h2>
                        </header>
                        <p>
                            “People who succeed have momentum. The more they succeed, the more they want to succeed, and the more they find a way to succeed. Similarly, when someone is failing, the tendency is to get on a downward spiral that can even become a self-fulfilling prophecy.”
                        </p>
                        <ul class="actions">
                            <li><a href="~/Student/Index" class="button">Our students</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

        <!-- Footer -->
        

    </div>

    <!-- Scripts -->
    <script src="~/Assets/assets/js/jquery.min.js"></script>
    <script src="~/Assets/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/Assets/assets/js/browser.min.js"></script>
    <script src="~/Assets/assets/js/breakpoints.min.js"></script>
    <script src="~/Assets/assets/js/util.js"></script>
    <script src="~/Assets/assets/js/main.js"></script>

</body>
</html>